* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #041c2b;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  /* padding-bottom: 130px; */
  overflow: auto;
  background: #041c2b;
}

.navbar{
  background: #041c2b;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  margin: 10px;
}

/* Table properties */
.table_text{
  color: #041c2b;
  text-align: center;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  background: #041c2b;
  border-top: 5px solid white;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 40px;
  margin-top: 10px;
  left: 0;
  padding: 5px;
  background: #041c2b;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
}

/* Styles for the parallax images*/
.hero {
  position: relative;
  height: 300px;
  padding: 40px;
  margin: 0;
  background: black;
  background-image: url("../images/wallstreet.jpg");
  background-attachment: fixed;
  background-position: -100px;
  background-size: cover;
}

.hero1 {
  position: relative;
  height: 300px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/trading_floor.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero2 {
  position: relative;
  height: 300px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/stock_trading.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.image_chart {
  position: relative;
  float: right;
  height: 350px;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  background: #041c2b;
  border-style: solid;
  color: #929999;
  border-width: 5px;
}

.image_map {
  position: relative;
  float: right;
  height: 250px;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  background: #041c2b;
  border-style: solid;
  color: #929999;
  border-width: 5px;
}

.image_data {
  position: relative;
  float: right;
  height: 200px;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  background: #041c2b;
  border-style: solid;
  color: #929999;
  border-width: 5px;
}

.hero p {
  font-size: 2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
}

.chart_index_margin{
  margin-top: 150px;
}

.map_index_margin{
  margin-top: 100px;
}

.data_index_margin{
  margin-top: 75px;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {

}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Map Start  */

#map{
  height: 500px;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  background: #041c2b;
}

.solid {
  border-style: solid;
  color: #f2f2f2;
  border-width: 5px;
}

/* Map End */

/* ----DESCRIPTION START---- */
.description-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Ubuntu, sans-serif;

  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

.description-content {
  /* Box-model */
  padding: 30px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}

.description-content > p {
  /* Box-model */
  padding-top: 20px;

  /* Typography */
  font-size: 16px;
  line-height: 30px;
  color: slategray;
}

.description-text {
  padding-bottom: 20px;
}

#description-image {
  /* Positioning */
  float: right;

  /* Box-model */
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

/* Description content media query */
@media only screen and (max-width: 767px) {
  /* override default class styling for positioning/padding */

  .description-content {
    /* Box-model */
    padding: 0;

    /* Positioning */
    margin-top: 0;
  }
}

/* ----DESCRIPTION END---- */
