<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Introduction Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-equalizer"> | <br> </span>{INSERT TITLE}
              </a>
            </div>
          </div>
        </nav>
      <div class="hero text-left">
        <h1>{INSERT TITLE}</h1>
          <p>{INSERT SUB-HEADING}</p>
        </div>
        <div class="container">
            <section class="row">
              <div class="col-md-8">
                  <h1 class="">XXXX</h1>
              </div>
            </div>
      <div class="hero1 hero p text-right">
        <h1>{INSERT TITLE}</h1>
          <p>{INSERT SUB-HEADING}</p>
        </div>
        <div class="container">
            <section class="row">
              <div class="col-md-8">
                  <h1 class="">XXXX</h1>
              </div>
            </div>
      <div class="hero2 hero p text-left">
          <h1>{INSERT TITLE}</h1>
            <p>{INSERT SUB-HEADING}</p>
          </div>
          <div class="container">
                  <section class="row">
                    <div class="col-md-8">
                        <h1 class="">XXXX</h1>
                    </div>
            <footer class="footer">
                <span class="bottom">{INSERT TEXT}</span>
            </footer>
        </div> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/js/plot.js"></script>
</body>

</html>