<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Regression Analyses</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="wrapper">

        <!-- Start of Nav Section -->
        <nav class="navbar navbar-default">
            <div class="container-fluid navbar-custom">
   
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="row">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
   
   
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right navbar-right-custom">
   
                    <li><a href="/">Home</a></li>
                    <li><a href="/charts">Charts</a></li>
                    <li><a href="/map">Map</a></li>
                    <li><a href="/regression">Regression Analyses & ML</a></li>
                    <li><a href="/data">Data Table</a></li>
                  </ul>

                </div><!-- /.navbar-collapse -->
              </div>
            </div><!-- /.container-fluid -->
          </nav>
      <!-- End of Nav Section -->


      <!-- Start of banner -->
      <div class="hero text-left">
          <h1><span>Regression Analyses & Machine Learning</span></h1> <br>
          <p class="heading"><span>Predicting Stock Prices</span></p>
      </div>
      <!-- End of banner -->
                  
      <!-- Start container 1-->
      <div class="container">
        <div class="col-md-6">      
          <h1 class="text-left chart_index_margin heading">Future Stock Price <p></p>Predictions</h1>  
          <hr class="style-one">
          <p></p>
          <p></p>
          <P class ="heading">Our dataset is consisted of 474 companies and 1692 rows of stock 
            indicators and prices associated with earning reports for the last 3-4 quarters. 
            The first thing we investigated is looking at how our variables are correlated to one 
            another. The heat map shown to the right shows the different correlations for each variable.
            We see that stock prices 45 days after earning reports 
            strongly correlate with “Next Day Prices” (opening price on the following day after 
            earning report is released), and some common indicators such as “Lower Band”, 
            “Middle Band”, “Upper Band”, “20 Days Moving Average”, and “5 Day Moving Average”. 
            This gives us an idea on which variables to use for our predictive analysis.</P>
        </div>

        <div class="col-md-6">
            <a href="/regression">
              <img src="../static/images/predicting_future_stock_price.JPG" alt="" class="image_futurestockprice"/>
            </a>
          </div>
          <p></p>
          <p></p>
      </div>
      <!-- End container 1-->

      <div class="col-md-12">      
          <hr class="style-three">
      </div>

      <!-- Start container 2-->
      <div class="container">
        <div class="col-md-6">
            <a href="/regression">
              <img src="../static/images/predicting_percent_change.JPG" alt="" class="image_percentchange"/>
            </a>
        </div>


        <div class="col-md-6">      
          <h1 class="text-right chart_index_margin heading">Stock Price % Change Predictions</h1>  
          <hr class="style-one">
          <P class ="text-right heading">This time we are looking at the Percent Change in 
            the stock price 45 days later after earnings reports correlate with other variables. 
            To normalize our 
            data, we have divided each indicator with the stocks respective next day price (after earnings report). 
            This gives a ratio
            for each indicator so we can compare them without worrying about the stock price. Unfortunately, 
            % change is not really correlated with any other variables - which means that short-term 
            stock price change is not easy to predict.</P>
        </div>
      </div>
      <!-- End container 2-->

      <div class="col-md-12">      
          <hr class="style-three">
      </div>

      <!-- Start container 3-->
      <div class="container">
        <div class="col-md-6">      
          <h1 class="text-left chart_index_margin heading">Linear Regression</h1>  
          <hr class="style-one">
          <p></p>
          <p></p>
          <P class ="heading">Here are the results of the Linear Regression 
            model that was used to predict the stock price 45 days later. 
            The independent variables are set as stock price the day after earnings report,
            the 20 Day Moving Average, the 5 Day Moving Average, the 5 day Lower BBand, and 
            the Percent Surprise from the earnings report. We are trying to predict the stock price 45 
            days later. 
            We also experimented with trying to predict the stock price 15 days, 30 days and 60 days later,
            but 45 days later was the most accurate.
            The dataset was then split into 70% train and 30% test dataset. The regression 
            shows an R-square value of 0.993. It is interesting to note that the 20 day moving average
          has a negative coefficient and the 5 day moving average has a positive coefficient. While the R-squared 
        value is very high, the model was unable to predict the stock price accurately enough to use.
      The Return on Investment for the model was 2%. Predicting the percent change would have yieled better
    results with the same R-square, but with the data we have, we could not get a model that accurate.</P>
        </div>

        <div class="col-md-6">
            <a href="/regression">
              <img src="../static/images/linear_regression_table.JPG" alt="" class="image_linear"/>
            </a>
          </div>
          <p></p>
          <p></p>
      </div>
      <!-- End container 3-->

      <div class="col-md-12">      
          <hr class="style-three">
      </div>

      <!-- Start container 4-->
      <div class="container">
        <div class="col-md-6">
            <a href="/regression">
              <br>
              <br>
              <br>
              <br>
              <img src="../static/images/logistic_regression_results.JPG" alt="" class="image_logistic"/>
            </a>
        </div>

        <div class="col-md-6">      
          <h1 class="text-right chart_index_margin heading">Logistic Regression</h1>  
          <hr class="style-one">
          <P class ="text-right heading">Since the Linear Regerssion model was unable to predict
            the stock prices accurately enough, we tried to predict if stock price will have a positive
            percent change or a negative percent change from the day after the earnings report to 45
            days later. We created an additional column, assigning a 1 if the price went up after 45
            days and a 0 if the price went down.
            We then used a Logistic Regression to try to classify each stock as increasing (buy) or 
            decreasing (sell). The model gives score of 0.625 to 0.640, which was slightly better
            than picking all stocks to go up, but only a 1.5% Return on Investment.</P>
        </div>
      </div>
      <!-- End container 4-->

      <div class="col-md-12">      
          <hr class="style-three">
      </div>

      <!-- Start container 5-->
      <div class="container">
          <div class="col-md-6">      
            <h1 class="text-left chart_index_margin heading">Neural Network Analysis</h1>  
            <hr class="style-one">
            <p></p>
            <p></p>
            <P class ="heading">We tried using Neural networks to predict stock price 45 days 
              later. The Neural Network could add a non-linear component to the model to help
              predict the stock price. Keras Sequential model was used. We passed the data through
            four layers. Unfortunately, the results were worse than from the regression models.</P>
          </div>

          <div class="col-md-6">
              <a href="/regression">
                <img src="../static/images/Neural_Network.gif" alt="" class="image_neuralnetwork"/>
              </a>
            </div>
            <p></p>
            <p></p>
        </div>
        <!-- End container 5

        <div class="col-md-12">      
            <hr class="style-three">
        </div>
      -->
        <!-- Start container 6
        <div class="container">
            <div class="col-md-6">
                <a href="/regression">
                  <img src="../static/images/Clustering.gif" alt="" class="image_clustering"/>
                </a>
            </div>
    
    
            <div class="col-md-6">      
              <h1 class="text-right chart_index_margin heading">Cluster Analysis</h1>  
              <hr class="style-one">
              <P class ="text-right heading">XXXX</P>
            </div>
          </div>
           End container 6-->

        <div class="col-md-12">      
            <hr class="style-three">
        </div>

      <!-- Start stock price prediction equation -->
      <div class="container-fluid">
        <section class="row">
          <div class="col-md-8">
            <h3 class="heading">Test our Model:</h3>        
              <label class="heading" for="stockInput"> Input Stock | </label>
                <input type="text" id="stockInput" placeholder="Stock Symbol" class = "text-center">
              <label class="heading" for="surpriseInput"> Input Percent Surprise | </label>
            <input type="integer" id="surpriseInput" placeholder="Precent Surprise" class = "text-center">
          <button id="" type="button" class="btn btn-default heading" onclick="handleSubmit()">Submit</button>
        </div>  
        </section>
      </div>
      <!-- End stock price prediction equation -->

    </div>

      <footer class="footer">
          <span class="bottom heading">Team 6 | Stock Holders</span>
      </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="../static/js/regression.js"></script>
</body>

</html>